{% extends "back.html.twig" %}

{% block title%}
	Liste des Article
{% endblock %}
{% block content  %}
{% if refrencess %}


	<div class="row">
		<div class="column">
			<h1>List</h1>

		</div>
		<div class="column">
			<a href="{{ path('addref') }}" class="btn btn-primary">Create new</a>


		</div>
	</div>
	<table id="refrencess" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>picture</th>
				<th>title</th>

				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for refrences in refrencess %}
				<tr>

					<td><img src="{{asset('uploads/brochures/'~refrences.imgRef)}}" height="98" width="98"></td>

					<td>{{ refrences.refNom }}</td>


					<td>

						<a href="/refrences/edit/{{ refrences.id }}">
							<i class="fa fa-pencil" aria-hidden="true" style=" font-size:14px"></i>
						</a>
						<a href="/refrences/delete/{{ refrences.id }}" onclick="return confirm('Etes-vous sûr vous sûr de supprimer cette réference?');">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
</td></tbody></tr>{% endfor %}</tbody></table>{% else %}<p>Aucun Service</p>{% endif %}<script src="{{ asset ('theme/vendor/jquery/jquery.min.js')}}"></script><script>$(document).ready(function () {
$('#refrencess').DataTable();
});</script>{% endblock %}
