{% extends "back.html.twig" %}

{% block title%}
	Liste des Article
{% endblock %}
{% block content  %}
{% if refrencess %}
	<h1>List</h1>

	<a href="{{ path('addref') }}" class="btn btn-primary">Create new</a>
	<table id="refrencess" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>picture</th>
				<th>title</th>

				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for refrences in refrencess %}
				<tr>

					<td><img src="{{asset('uploads/brochures/'~refrences.imgRef)}}" height="98" width="98"></td>

					<td>{{ refrences.refNom }}</td>


					<td>

						<a href="/refrences/edit/{{ refrences.id }}" class="btn btn-dark">Modifier</a>
						<a href="/refrences/delete/{{ refrences.id }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr vous sûr de supprimer cette réference?');">Delete</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
</td></tbody></tr>{% endfor %}</tbody></table>{% else %}<p>Aucun Service</p>{% endif %}
<script>$(document).ready(function() {
    $('#refrencess').DataTable();
} ); </script>
{% endblock %}
