{% extends 'back.html.twig' %}


{% block title %}Ajouter Page
{% endblock %}
{% block content  %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="input-field col s12 m12 l12">

		{{ form_widget(form.imgPages, {'attr': {'placeholder': 'Page title'}}) }}
	</div>
	<br>
	<div class="input-field col s12 m6 l6">

		{{ form_widget(form.titre, {'attr': {'placeholder': 'Page title'}}) }}

	</div>
	<br>
	<div class="input-field col s12 m6 l6">

		{{ form_widget(form.description, {'attr': {'placeholder': 'Page Description'}}) }}

	</div>
	<br>
	<div class="input-field col s12 m6 l6">

		{{ form_widget(form.pagesdetails, {'attr': {'placeholder': 'Page Details'}}) }}

	</div>
	<br>
	<br>

	<div class="input-field col s12 m12 l12">
		<input type="submit" name="" value="Add Page" class="btn btn-primary">
	</div>
	{{ form_end(form) }}
{% endblock %}
