{% extends 'back.html.twig' %}

{% block title%}
	Liste des Services
{% endblock %}
{% block content  %}
	{% if pages %}
	<h1>List</h1>

	<a href="{{ path('addpages') }}" class="btn btn-primary">Create new</a>
		<table id="services" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Img</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Details</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for page in pages %}
					<tr>
						<td><img src="{{asset('uploads/brochures/'~page.imgPages)}}" height="98" width="98"></td></td>
						<td>{{ page.titre }}</td>
						<td>{{ page.description }}</td>
						<td>{{ page.pagesdetails }}</td>
						<td>
							<a href="/pages/{{ page.id }}" class="btn btn-dark">Détails</a>
							<a href="/pages/edit/{{ page.id }}" class="btn btn-dark">Modifier</a>
							<a href="/pages/delete/{{ page.id }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de supprimer cette page?');">Delete</a>

						</td>
					</tr>
				</td>
			</tbody>
		</tr>

	{% endfor %}
</tbody></table>{% else %}<p>Aucun Service</p>{% endif %}
<script>$(document).ready(function() {
    $('#services').DataTable();
} ); </script>
{% endblock %}
