{% extends 'template.html.twig' %}

{% block title%}
	Liste des Services
{% endblock %}
{% block content  %}
	{% if services %}
		<table id="services" class="table table-striped">
			<thead>
				<tr>
					<th>img</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Details</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for service in services %}
					<tr>
						<td>{{ service.img }}</td>
						<td>{{ service.nom }}</td>
						<td>{{ service.description }}</td>
						<td>{{ service.details }}</td>
						<td>
							<a href="/service/{{ service.id }}" class="btn btn-dark">Détails</a>
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table>{% else %}<p>Aucun Service</p>{% endif %}{% endblock %}
