{% extends 'accounttem.html.twig' %}
{% block title %}Ajouter Service
{% endblock %}
{% block body %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


	<div class="input-field col s12 m6 l6">
		{{ form_widget(form.profilePicture, {'attr': {'placeholder': 'profilePicture'}}) }}
		{{ form_label(form.profilePicture, 'profilePicture') }}
	</div>

	<div class="input-field col s12 m6 l6">
		{{ form_widget(form.firstname, {'attr': {'placeholder': 'First Name'}}) }}
		{{ form_label(form.firstname, 'firstname') }}
	</div>

	<div class="input-field col s12 m6 l6">
		{{ form_widget(form.lastname, {'attr': {'placeholder': 'last Name'}}) }}
		{{ form_label(form.lastname, 'lastname') }}
	</div>

	<div class="input-field col s12 m12 l12">
		{{ form_widget(form.email, {'attr': {'class': 'materialize-textarea', 'placeholder': 'Le contenu de email'}}) }}
		{{ form_label(form.email, 'email') }}
	</div>

	<div class="input-field col s12 m12 l12">
		{{ form_widget(form.password, {'attr': {'class': 'filled-in'}}) }}
		{{ form_label(form.password, 'password') }}

	</div>

	<div class="input-field col s12 m12 l12">
		<input type="submit" name="" value="Enregistrer" class="btn btn-primary">
	</div>
	{{ form_end(form) }}
{% endblock %}
