{% extends 'back.html.twig' %}
{% block title %}
	{{ service.nom }}
{% endblock %}
{% block body %}
	<img {{ article.picture }} class="responsive-img">
	<h1>{{ article.title }}</h1>
	<p>{{ article.content }}</p>
		<p>{{ article.publicationDate }}</p>
			<p>{{ article.lastUpdateDate }}</p>
				<p>{{ article.isPublished }}</p>
					<p>{{ article.categories }}</p>
					<hr>
	<a href="/">Retour</a>
{% endblock %}
