{% extends "back.html.twig" %}

{% block title%}
	Liste des Article
{% endblock %}
{% block content  %}
{% if articles %}
<h1>List</h1>

	<a href="{{ path('add') }}" class="btn btn-primary">Create new</a>

	<table id="articles" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>picture</th>
				<th>title</th>
				<th>content</th>
				<th>Read More</th>
				<th>publicationDate</th>
				<th>lastUpdateDate</th>
				<th>isPublished</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>



			{% for article in articles %}

       		
			</a>
				<tr>

					<td>

						  <img src="{{asset('uploads/brochures/'~article.picture)}}" height="98" width="98"></td>
					</td>
					<td>{{ article.title }}</td>
					<td>{{ article.content }}</td>
					<td>{{ article.readmore }}</td>
					<td>{{ article.publicationDate }}</td>
					<td>{{ article.lastUpdateDate }}</td>
					<td>{{ article.isPublished }}</td>

					<td>
						<a href="/article/{{ article.id }}" class="btn btn-dark">Détails</a>
						<a href="/article/edit/{{ article.id }}" class="btn btn-dark">Modifier</a>
						<a href="/article/delete/{{ article.id }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr vous sûr de supprimer cet article?');">Delete</a>
					</td>
				</tr>
			</a>
		</tbody>
		
	</td>
</tr></td></tbody></tr>{% endfor %}</tbody></table>{% else %}<p>Aucun Article</p>{% endif %}
	<script>$(document).ready(function() {
    $('#articles').DataTable();
} ); </script>
{% endblock %}
