<?php
error_reporting(E_ALL); 
ini_set("display_errors", 1);

<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Abshore</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



		<link rel="stylesheet" href="{{ asset ('assets/css/styles.css')}}">
		

		<title>
			Welcome!
			
		</title>

	
	</head>

	<body>
		<!--code body strats here-->

		<!-- Navbar Section -->
		{{ include('inc/navbar.html.twig')}}

		<br>
		<br>
		<br>
		<br>
	

		<!--*************************************************************-->
		{{ include('inc/section1.html.twig')}}
		<!-- End Hero Section 1 -->
		<br>
		<br>
		<br>
		<br>
		<!-- Hero Section 2 -->
		{{ include('inc/section2.html.twig')}}
		<!-- End Hero Section 2 -->
		<br>
		<br>
		<br>
		<br>
		<!-- Hero Section 3 -->
		{{ include('inc/section3.html.twig')}}
		<!-- End Hero Section 3 -->
		<br>
		<br>
		<br><br>
		<!-- Hero Section 4 -->{{ include('inc/section4.html.twig')}}
		<!-- End Hero Section 4 --><br>
		<br>
		
		<!-- Hero Section 5 -->{{ include('inc/section5.html.twig')}}
		<!-- End Hero Section 5 -->
	<br>
		<br>
		<!-- Hero Section 6  -->
		{{ include('inc/section6.html.twig')}}
		<br>                                                                                                       
		<br>
			
		<!-- End Hero Section 6 -->
		<br>
		<br>
		<br>
		<br>
		<!-- Hero Section 7 -->
		                                                 
		<!-- caroussel-->
	{{ include('carousel.html.twig')}}
		<!-- End Hero Section 7 -->
		<br>
		<br>
		<br>
		<br>
		<!-- Hero Section 8 -->
		{{ include('inc/section8.html.twig')}}
	
		<!-- End Hero Section 8 -->
		<br>
		<br>
		<br>
		<br>

		<!-- Hero Section 9 -->
		{{ include('inc/section9.html.twig')}}

		<br>
		<!-- End Hero Section 9 -->
		<!-- Hero Section 10 -->
		{{ include('inc/section10.html.twig')}}

		<!-- End Hero Section 10 -->
		{{ include('inc/footer.html.twig')}}
		<!-- Hero Section 10 -->


<script src="{{asset('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')}}">

<script src="{{asset('assets/js/script.js')}}"></script>
<script src="{{asset('assets/js/scripts.js')}}"></script>
<link rel="stylesheet" href="{{ asset ('assets/css/carousel.css')}}">
		<link rel="stylesheet" href="{{ asset ('assets/css/styles.css')}}">
	

		<script src="{{asset('assets/js/jquery-3.3.1.min.js')}}"></script>
		<script src="{{asset('assets/js/jquery-migrate-3.0.0.min.js')}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="{{asset('assets/js/jquery.backstretch.min.js')}}"></script>
        <script src="{{asset('assets/js/wow.min.js')}}"></script>

		</body>
	</html>
