<!-- testmonial_area_start  -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{{ asset ('assets/css/styles.css')}}">
<link rel="stylesheet" href="{{ asset ('assets/css/styles.scss')}}">

{% block body %}
	{% if services %}
<section class="services">
	<!--heading---------------->
	<div class="s-heading">
	<h4>OUR SERVICES</h4>
	<h1 id="WWO">What We Offer</h1>
	</div>
	
	<!--services-box-container------------------->
	<div class="s-box-container">
		{% for service in services %}
	<!--service-box-1---------------->	
		<div class="s-box" {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %}>
	<!--top-bar-------->
			<div class="bar"></div>
	<!--img---------->
		<img alt="1" src="{{asset('uploads/brochures/'~service.img)}}">
	<!--servies-name---------->
		<h1>{{ service.nom }}</h1>
	<!--details------>
		<p>{{ service.description }}</p>
	<!--btn---------->
		<a class="s-btn" href="{{ service.details }}">See More</a>
		</div>
		<!--service-box-1---------------->	
	{% endfor %}
	</div>
	{% else %}
</section>
{% endif %}
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ asset ('assets/js/script.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}
