{% if pages %}

	<div class="hero">
		<div class="hero__container">
			<div class="hero__container--left">
				{% for page in pages %}
					{% if page.id == 7 %}
   <a href="{{ path('pagesfront') }}"> 
						<h2>{{ page.titre }}</h2>
						<br>
						<br>
						<br>

						<p>{{ page.description }}</p>
						<br>
						<br>
						<br>

						<button class="hero__container--btn">
							<a href="{{ page.pagesdetails }}">See our Story</a>

						</button>
					</div>
					<div class="hero__container--right">
						<img alt="alien" src="{{asset('uploads/brochures/'~page.imgPages)}}">

					</div>
				</div>
				</a>
			</div>

		{% endif %}
	{% endfor %}


{% endif %}
