<!-- testmonial_area_start  -->

<section class="services">
	<!--heading---------------->
	<div class="s-heading">
	<h4>OUR SERVICES</h4>
	<h1 id="WWO">What We Offer</h1>
	</div>
	<!--services-box-container------------------->
	<div class="s-box-container">
	<!--service-box-1---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="1" src="{{ asset ('assets/images/001-process.png')}}">
	<!--servies-name---------->
	<h1>DATA-SCIENCE</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
		<!--service-box-1---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="2" src="{{ asset ('assets/images/002-social-media.png')}}">
	<!--servies-name---------->
	<h1>BUSINESS INTELLIGENCE</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
		<!--service-box-3---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="3" src="{{ asset ('assets/images//003-responsive.png')}}">
	<!--servies-name---------->
	<h1>WEB DESIGN</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
	</div>
	</section>
<section class="services">
	<!--heading---------------->
	<!--services-box-container------------------->
	<div class="s-box-container">
	<!--service-box-1---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="1" src="{{ asset ('assets/images//007-analysis.png')}}">
	<!--servies-name---------->
	<h1>Web developpement</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
		<!--service-box-1---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="2" src="{{ asset ('assets/images/004-social-media-1.png')}}">
	<!--servies-name---------->
	<h1>ARTIFICIAL INTELLIGENCE</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
		<!--service-box-3---------------->	
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="3" src="{{ asset ('assets/images/008-computer.png')}}">
	<!--servies-name---------->
	<h1>DevOps</h1>
	<!--details------>
		<p>Lorem Ipsum is simply dummy text of the prin</p>
	<!--btn---------->
	<a class="s-btn" href="#">See More</a>
	</div>
	</div>
	</section>