

<div class="hero">
    
 <h2>REFERENCES</h2>
 <br>
 <br>
        <div class="container">
             <section class="customer-logos slider">
                <div class="slide"><img src="{{ asset ('assets/images/SFR-logo-150x150.png')}}" height="150" width="150" alt="" /></div>
                <div class="slide"><img src="{{ asset ('assets/images/Sans-titre-1.png')}}" height="150" width="150" alt="" /></div>
                <div class="slide"><img src="{{ asset ('assets/images/orange-logo-vector-150x150.png')}}" height="150" width="150" alt="" /></div>
                <div class="slide"><img src="{{ asset ('assets/images/Logo_BIAT_FR_3-150x150.png')}}" height="150" width="150" alt="" /></div>
                <div class="slide"><img src="{{ asset ('assets/images/Logo-FittingBox-150x150.png')}}" height="150" width="150" alt="" /></div>
                <div class="slide"><img src="{{ asset ('assets/images/fifa.png')}}" height="150" width="150" alt="" /></div>
               
             </section>
        </div>
    
  </div>