<div class="hero">
	<div class="hero__container">
		<div class="hero__container--left">
			<img src="{{ asset ('assets/images/contactus.png')}}" height="300px" width="400px"/>

		</div>
		<div class="hero__container--right">

			<div id="after_submit"></div>
			<div class="row">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				<tbody>
					<tr>
						<td>
							<div class="col s6">
								<div class="input-field ">
									{{ form_widget(form.name, {'attr': {'placeholder': 'Name'}}) }}
								</div>
							</div>
							<br>
						</td>
						<td>
							<div class="col s6">
								<div class="input-field ">
									{{ form_widget(form.lastname, {'attr': {'placeholder': 'Lastname'}}) }}

								</div>
							</div>
							<br>
						</td>
						<td>
							<div class="input-field col s12">
								{{ form_widget(form.email, {'attr': {'class': 'materialize-textarea', 'placeholder': 'e-mail'}}) }}
							</div>
							<br>
							<div class="input-field col s12">
								{{ form_widget(form.message, {'attr': {'placeholder': 'message'}}) }}


							</div>
							<br>
							<div class="input-field col s12">
								<input type="submit" name="" value="Send" class="btn btn-primary"></div>
						</td>
					</tr>
				</tbody>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
