{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="input-field col s12 m12 l12">
	{{ form_label(form.email, 'Email') }}
	{{ form_widget(form.email, {'attr': {'class': 'materialize-textarea', 'placeholder': 'Le contenu de email'}}) }}

</div>


<div class="input-field col s12 m12 l12">
	{{ form_label(form.roles, 'Roles') }}
	{{ form_widget(form.roles, {'attr': {'class': 'filled-in'}}) }}


</div>

<div class="input-field col s12 m12 l12">
	{{ form_label(form.password, 'Password') }}
	{{ form_widget(form.password, {'attr': {'class': 'filled-in'}}) }}


</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
